html{
    margin: 0;
    padding: 0;
    background-color: rgb(31, 27, 27);
    color: cornsilk;
}
header,body, li, ul, h1, h2, a {
    margin: 0;
    padding: 0;
    
}
header{
    background-color: rgb(228, 214, 214);
    padding:5px 0;
    text-align: center;
    width:100%;
    z-index: 1;
    position: fixed;
    top:0;
    right:0;
    margin-bottom: 0;
   
}
    header h1{
        color:black;
        border: 6px solid black;
        padding: 6px 12px;
        display: inline-block;
        border-radius: 36px;
        font-family: cursive;
    } 
.banner{
        position:relative;
        margin-bottom: 0;
        padding-bottom: 0;
        height:400px;
    }
.banner img{
    min-width: 100%;
    height: 400px;
}
section img{
    max-width:100%
}

nav{
    background-color: rgb(58, 48, 48);
    position: sticky;
    top: 78px;
    z-index: 1;
    box-sizing: border-box;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    font-size: 28px;
    padding: 12px 0;
    text-align: center;
    display: inline-block;
    
}
nav li a{
    text-decoration: blanchedalmond;
    padding: 5px 25px;
    color: rgb(221, 199, 199);
}
.images h1{
    font-size: 40px;
    border: 6px double rgb(228, 214, 214);
        padding: 6px 12px;
        display: inline-block;
        font-family: cursive;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin:20px 5%;
}
.images li img{
    max-width: 70%;
    border-radius: 70px;
    
}
.connect{
    background:rgb(228, 214, 214); 
    text-align:center;
    padding:20px 20px;
    box-sizing: border-box;
   
}
.connect h1{
    font-size: 36px;
    color:black;
    padding: 3px 12px;
    display: inline-block;
    font-family: cursive;
}
.icon ul{
    max-width: 100%;
    margin: 0 auto;
    white-space: nowrap;
}
.icon li{
    width: 20%;
    display: inline-block;
}
.icon li img{
    height: 70px;
    width:70px;
    aspect-ratio: auto;
}
footer {
    background:rgb(228, 214, 214);
    color:black;
    bottom:0;
    width:100%;
    text-align: center;
}
.images li:hover{
    position:relative;
    top:-7px;
    left:-7px;
}
nav li:hover{
    padding: 12px auto;
    background-color: rgb(46, 42, 42);
}
.icon li a img:hover
{
    position: relative;
    top:-6px;
}

@media screen and (max-width:1210px)
{
    .connect{
    padding:10px 10px;
}
}
@media screen and (max-width:1000px)
{
    .connect h1{
        font-size: 30px;
    }
}
@media screen and (max-width:750px)
{
    header{
        padding:5px 0;
        position: relative;
        font-size: 20px;
        margin-top: 0;
    }
    nav{
        top: 0px;
    }
    nav li:hover{
        padding: 12px 0;
        background-color: rgb(75, 68, 68);
    }
    .images li{
        display: block;
        width: 90%;
        margin:35px auto;
    }
    .images li img{
       border-radius: 80px;
        }
        .connect h1{
            font-size: 25px;
        }
         .icon li img{
                height: 50px;
                width:50px;
                aspect-ratio: auto;
        }  
         nav li{
                width: 25%;
                font-size: 25px;
                padding: 10px auto;
            }
            nav li a{
                text-decoration: none;
                padding: 5px 20px;
                color: rgb(221, 199, 199);
            } 
}
@media screen and (max-width:500px){
    header{
        font-size:13px;
    }
    nav li{
        font-size: 16px;
    }
    nav li a{
        padding:4px 5px;
    }
    .connect h1{
        font-size: 20px;
    }
     .icon li img{
            height: 40px;
            width:40px;
            aspect-ratio: auto;
    }

}
